header{
    height: 75px;
    background-color: rgb(14, 204, 61);
    height:100px;
    width: 2000px;
    position:absolute;
    top: 1px;
    
}

#body{
background-color: rgb(224,224,224);
}


#logo img{
position: absolute;
width: 120px;
top: 0.2px;
height: 120px;

}

.boton{
    color: white;
    font-weight: bold;
    display: inline-block;
    background-color:gray;
    line-height: 2.5;
    padding: 0 1.5em;
    text-decoration: none;
    position: relative;
    top: 20px;
    right: -600px;
    }


.content>h2{
text-align: center;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color: green;
font-size: 5em;
}

::-webkit-scrollbar{
width: 15px;
}

::-webkit-scrollbar-track{
background:#565656;
border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background: #E3E401;
    border-radius: 50px;
}

.buttom{
    color: white;
    font-weight: bold;
    display:inline-flexbox;
    background-color:gray;
    line-height: 2em;
    padding: 0 2em;
    text-decoration: none;
    position:relative;
    top: 40px;
    left: -20px;


}